<div class="row">
  <div class="col-md-12">
    <h4>Gestión de Categorias</h4>
    <hr>
    <div class="row">
      <div class="col-md-6" id="formTableCategoria">
        <h6 class="subtitulo" style="margin-bottom:15px">Categorias</h6>
        <label class="texto-der" id="mensajeRptaCategoria"></label>
        <table class="table table-striped" style="" id="tablaCategoria">
          <thead>
            <tr>
              <th style="width: 10px; display:none;">id</th>
              <th style="width: 300px;">Nombre</th>
              <th style="width: 80px;">Botones</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td colspan="1000" style="text-align:right">
                <span id="autoresBotonesPaginacion" class="td-botones-paginacion"></span>
                <button class="btn btn-default agregar-fila"> <i class="fa fa-plus" style="margin-right:5px"></i>Agregar Registro</button>
                <button class="btn btn-default guardar-tabla"> <i class="fa fa-check" style="margin-right:5px"></i>Guardar Cambios</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
