<script id="video-detalle-template" type="text/x-handlebars-template">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{titulo_modal}}</h4>
        <button type="button" class="close" data-dimdiss="modal" aria-label="Close" id="closeModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="texto-der" id="mensajeRptaVideo"></label>
        <div class="row">
          <div class="col-md-12">
            <h6>Datos del Video</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="txtNombre">Nombre</label>
                  <input type="text" class="form-control" id="txtNombre" placeholder="" value="{{video.nombre}}">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="txtAnio">Año</label>
                  <input type="text" class="form-control" id="txtAnio" placeholder="" value="{{video.anio}}">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="txtPaginas">Duración</label>
                  <input type="text" class="form-control" id="txtDuracion" placeholder="" value="{{video.duracion}}">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group pull-right" style="margin-top:25px;">
                  <button class="btn btn-default guardar-tabla" id="btnGuardarDetalleVideo"><i class="fa fa-check" style="margin-right:5px"></i>Guardar Detalle</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <h6>Adjuntar Archivo</h6>
            <label id="lblMensajeUpload"></label>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="txtNombreArchivo">Nombre del Arhcivo</label>
                  <input type="text" class="form-control" id="txtNombreArchivo" placeholder="" value="{{video.video_nombre}}">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group" style="margin-bottom:10px" id="formUploadVideo">
                  <label style="width:100%">Foto</label>
                  <label id="imagen_id" class="oculto">E</label>
                  <input type="file" id="inputVideo" name="myFile" type="file" class="oculto"/>
                  <button id="buscarVideo" class="btn btn-default btn-file pull-left"><i class="fa fa-file-image-o" aria-hidden="true"></i>Buscar </button>
                  <button id="subirVideo" class="btn btn-default btn-file pull-left" disabled><i class="fa fa-upload" aria-hidden="true"></i>Subir </button>
                  <a target="_blank" id="verVideo" class="btn btn-default btn-file pull-left" href="{{BASE_URL}}{{video.video_ruta}}" disabled><i class="fa fa-search" aria-hidden="true" style="margin-right: 5px"></i>Ver </a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group pull-right" style="margin-top:25px;">
                  <button class="btn btn-default guardar-tabla" id="btnGuardarDetalleVideoArchivo"><i class="fa fa-check" style="margin-right:5px"></i>Asociar Archivo</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6" id="formTableAutorVideo">
            <h6>Autores</h6>
            <label class="texto-der" id="mensajeRptaAutorVideo"></label>
            <table class="table table-striped" style="" id="tablaAutorVideo">
              <thead>
                <tr>
                  <th style="width: 10px; display:none;">id</th>
                  <th style="width: 200px;">Nombre</th>
                  <th style="width: 80px;">Botones</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="1000" style="text-align:right">
                    <button class="btn btn-default agregar-fila"> <i class="fa fa-plus" style="margin-right:5px"></i>Agregar Registro</button>
                    <button class="btn btn-default guardar-tabla"> <i class="fa fa-check" style="margin-right:5px"></i>Guardar Cambios</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="col-md-6" id="formTableCategoriaVideo">
            <h6>Categorias</h6>
            <label class="texto-der" id="mensajeRptaCategoriaVideo"></label>
            <table class="table table-striped" style="" id="tablaCategoriaVideo">
              <thead>
                <tr>
                  <th style="width: 10px; display:none;">id</th>
                  <th style="width: 200px;">Nombre</th>
                  <th style="width: 80px;">Botones</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="1000" style="text-align:right">
                    <span id="videosBotonesPaginacion" class="td-botones-paginacion"></span>
                    <button class="btn btn-default agregar-fila"> <i class="fa fa-plus" style="margin-right:5px"></i>Agregar Registro</button>
                    <button class="btn btn-default guardar-tabla"> <i class="fa fa-check" style="margin-right:5px"></i>Guardar Cambios</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
