<script id="video-ver-template" type="text/x-handlebars-template">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{titulo_modal}}</h4>
        <button type="button" class="close" data-dimdiss="modal" aria-label="Close" id="closeModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <video id="my-video" class="video-js" controls preload="auto" width="640" height="264" data-setup="{}">
          <source src="{{url_video}}" type='video/mp4'>
          <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div>
    </div>
  </div>
</script>
