<div class="row">
  <div class="col-md-12">
    <h4>Gestión de Videos</h4>
    <hr>
    <div class="row">
      <div class="col-md-12" id="formTableVideo">
        <h6 class="subtitulo" style="margin-bottom:15px">Videos</h6>
        <label class="texto-der" id="mensajeRptaVideo"></label>
        <table class="table table-striped" style="" id="tablaVideo">
          <thead>
            <tr>
              <th style="width: 10px; display:none;">id</th>
              <th style="width: 200px;">Nombre</th>
              <th style="width: 60px;">Duración</th>
              <th style="width: 60px;">Año</th>
              <th style="width: 200px;">Autor(es)</th>
              <th style="width: 200px;">Categoria(s)</th>
              <th style="width: 80px;">Botones</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td colspan="1000" style="text-align:right">
                <span id="videosBotonesPaginacion" class="td-botones-paginacion"></span>
                <a href="#/video/crear" class="btn btn-default agregar-fila"> <i class="fa fa-plus" style="margin-right:5px"></i>Agregar Registro</a>
                <button class="btn btn-default guardar-tabla"> <i class="fa fa-check" style="margin-right:5px"></i>Guardar Cambios</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
